<section id="hero" class="contact"></section>
<section class="container main-content contact-page">
  <header>
    <h1>{{ page.title }}</h1>
    <p class="lg">Need help? Have questions? Please call or fill out the form and we will reach out to you as soon as we can.</p>
  </header>
  <div class="col-md-8 col-md-push-4 contact-form-container">
    {{ page.content }}
  </div>
  <div class="col-md-3 col-md-pull-8">
    <ul class="info">
      <li><i class="fa fa-phone"></i>(530) 205-3625</li>
      <li><i class="fa fa-home"></i>12893 Alcosta Blvd, Suite M<br/>San Ramon, CA 94583</li>
      <li><i class="fa fa-envelope"></i>sales@dockingdrawer.com</li>
    </ul>
    <a class="blk-btn block"><i class="fa fa-refresh"></i>Make an Exchange</a>
    <a class="blk-btn block"><i class="fa fa-sign-in"></i>Make a Return</a>
  </div>
</section>



<!--{% form 'contact' %}

  {% if form.posted_successfully? %}
    <p class="form-success">
      {{ 'contact.form.post_success' | t }}
    </p>
  {% endif %}

  {{ form.errors | default_errors }}

  <label for="ContactFormName">{{ 'contact.form.name' | t }}</label>
  <input type="text"
    name="contact[name]"
    id="ContactFormName"
    placeholder="{{ 'contact.form.name' | t }}"
    value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">

  <label for="ContactFormEmail">{{ 'contact.form.email' | t }}</label>
  <input type="email"
    name="contact[email]"
    id="ContactFormEmail"
    placeholder="{{ 'contact.form.email' | t }}"
    value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
    spellcheck="false"
    autocomplete="off"
    autocapitalize="off">

  <label for="ContactFormPhone">{{ 'contact.form.phone' | t }}</label>
  <input type="tel"
    name="contact[phone]"
    id="ContactFormPhone"
    placeholder="{{ 'contact.form.phone' | t }}"
    value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}"
    pattern="[0-9\-]*">

  <label for="ContactFormMessage">{{ 'contact.form.message' | t }}</label>
  <textarea rows="10"
    name="contact[body]"
    id="ContactFormMessage"
    placeholder="{{ 'contact.form.message' | t }}">
    {% if form.body %}
      {{ form.body }}
    {% endif %}
  </textarea>

  <input type="submit" class="btn" value="{{ 'contact.form.send' | t }}">

{% endform %}-->
