<div class="collapse navbar-collapse" id="main-navigation">
  <ul class="nav navbar-nav">
    {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handle %}
    {% if linklists[child_list_handle] and linklists[child_list_handle].links.size > 0 %}
    <li class="{% if link.active %}active{% endif %}">
      <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ link.title }}<b class="caret"></b></a>
      <ul class="dropdown-menu multi-level">
        {% for child_link in linklists[child_list_handle].links %}
        {% assign grand_child_list_handle = child_link.title | handle %}
        {% if linklists[grand_child_list_handle] and linklists[grand_child_list_handle].links.size > 0 %}
        <li class="dropdown-submenu">
          <a href="{{ child_link.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child_link.title }}<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for grand_child_link in linklists[grand_child_list_handle].links %}
            <li>
              {{ grand_child_link.title | link_to: grand_child_link.url }}
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li>
          {{ child_link.title | link_to: child_link.url }}
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% else %}
    <li class="{% if link.active %}active{% endif %}">
      <a href="{{ link.url }}">{{ link.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

</div>
