{% assign street = shop.address.street | split: ',' %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-2 schema">
        <h3>Contact Us:</h3>
        <strong>{{ shop.name }}</strong>
        {% for line in street %}
          {{ line }}<br>
        {% endfor %}
          {{ shop.address.city }}, CA {{ shop.address.zip }}
        {% include 'click-to-call' %}
        <a href="mailto:{{ shop.email }}">{{ shop.email }}</a>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h3>Business Hours:</h3>
        {{ section.settings.hours }}
      </div>
      <div class="col-md-4 search-container">
        {% include 'search-form' %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        {%- assign social_accounts = 'Pinterest, Instagram, Facebook, Twitter, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
        <ul class="social">
          {% for social in social_accounts %}
            {%- assign social_handle = social | handleize -%}
            {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
            {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

            {% if settings[social_link] != blank %}
              <li>
                <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
                  {% include social_icon %}
                  <span class="icon-fallback-text">{{ social }}</span>
                </a>
              </li>
            {% endif %}

          {% endfor %}
        </ul>
      </div>
      <div class="col-md-9">
        <small>{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }} JTech Solutions Inc. &bull; <a href="{{ section.settings.privacy_link }}">{{ section.settings.privacy_text }}</a> &bull; <a href="{{ section.settings.terms_link }}" target="_blank">{{ section.settings.terms_text }}</a></small>
      </div>
    </div>
  </div>



  <!--{% if section.settings.show_payment_icons %}
    {% unless shop.enabled_payment_types == empty %}
      {%- assign payment_icons_available = 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' -%}

      <span class="visually-hidden">{{ 'layout.footer.payment_methods' | t }}</span>
      <ul class="payment-icons">
        {% for type in shop.enabled_payment_types %}
          {% if payment_icons_available contains type %}
            <li>
              {%- assign icon_name = type | prepend: 'icon-' -%}
              {% include icon_name %}
              <span class="visually-hidden">{{ type | capitalize | replace: '_', ' ' }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endunless %}
  {% endif %}

  {%- assign footer_linklist = section.settings.footer_linklist -%}
  {% if linklists[footer_linklist].links.size > 0 %}
    <ul>
      {% for link in linklists[footer_linklist].links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}-->
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "textarea",
        "id": "address",
        "label": "Formatted Address"
      },
      {
        "type": "text",
        "id": "hours",
        "label": "Formatted Hours"
      },
      {
        "type": "url",
        "id": "privacy_link",
        "label": "Privacy Policy Link"
      },
      {
        "type": "text",
        "id": "privacy_text",
        "label": "Privacy Policy Link Text"
      },
      {
        "type": "url",
        "id": "terms_link",
        "label": "Terms & Conditions Link"
      },
      {
        "type": "text",
        "id": "terms_text",
        "label": "Terms & Conditions Text"
      },
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
