<section id="homepage-outlets">
  <header {% if section.settings.header_bg %}style="background:{{ section.settings.header_bg }}"{% endif %}>
    <h2>{{ section.settings.heading }}</h2>
  </header>
  <div class="coontainer-fluid">
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-md-6 outlet-type" {% if block.settings.bg_image %}style="background-image: url('{{ block.settings.bg_image | img_url: 'original' }}')"{% endif %}>
          <div class="gradient">
            <h3>{{ block.settings.heading }}</h3>
            <p>{{ block.settings.details }}</p>
            <a href="{{ block.settings.link_url }}" class="gray-btn">{{ block.settings.link_text }}</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
<style>
#homepage-outlets{
  color: {{ section.settings.font_color }};
}
</style>

{% schema %}
  {
    "name": "Homepage Outlets",
    "settings": [
      {
        "type": "color",
        "id": "header_bg",
        "label": "Header Background Color"
      },
      {
        "type": "color",
        "id": "font_color",
        "label": "Font Color"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "Outlet Type",
        "type": "outlet_type",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "label": "Outlet Type"
          },
          {
            "type": "textarea",
            "id": "details",
            "label": "Details"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Link URL"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link Text"
          },
          {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Home Outlets",
        "category": "Homepage"
      }
    ]
  }
{% endschema %}
