<section class="idea-videos"
{% if section.settings.video_bg %}
  style="background: {{ section.settings.video_bg }}"
{% endif %}>
  <div class="container-fluid main-content">
    <div class="col-md-4">
      {% if section.settings.left_video %}
        <video controls poster="{{ section.settings.left_poster | img_url: 'original' }}">
          <source src="{{ section.settings.left_video }}" type="video/mp4" />
        </video>
        <p class="details">{{ section.settings.left_details }}</p>
      {% endif %}
    </div>
    <div class="col-md-4">
      {{ section.settings.youtube_video }}
      <p class="details">{{ section.settings.youtube_details }}</p>
    </div>
    <div class="col-md-4">
      {% if section.settings.right_video %}
        <video controls poster="{{ section.settings.right_poster | img_url: 'original' }}">
          <source src="{{ section.settings.right_video }}" type="video/mp4" />
        </video>
        <p class="details">{{ section.settings.right_details }}</p>
      {% endif %}
    </div>
  </div>
</section>
<header
{% if section.settings.header_bg %}
  style="background: {{ section.settings.header_bg }}"
{% endif %}>
  <div class="container">
    <h3
    {% if section.settings.header_color %}
      style="color: {{ section.settings.header_color }}"
    {% endif %}>{{ section.settings.possibilities_heading }}</h3>
    <div class="col-md-4 col-md-offset-2 text-center">
      <a href="{{ section.settings.charging_link }}" class="gray-btn">{{ section.settings.charging_button }}</a>
    </div>
    <div class="col-md-4 text-center">
      <a href="{{ section.settings.powering_link }}" class="gray-btn">{{ section.settings.powering_button }}</a>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "Idea Videos",
    "settings": [
      {
        "type": "color",
        "id": "video_bg",
        "label": "Video Background Color"
      },
      {
        "type": "color",
        "id": "header_bg",
        "label": "Heading Background Color"
      },
      {
        "type": "color",
        "id": "header_color",
        "label": "Heading Font Color"
      },
      {
        "type": "image_picker",
        "id": "left_poster",
        "label": "Video Poster"
      },
      {
        "type": "url",
        "id": "left_video",
        "label": "Video URL"
      },
      {
        "type": "textarea",
        "id": "left_details",
        "label": "Video Details"
      },
      {
        "type": "textarea",
        "id": "youtube_video",
        "label": "Youtube Video"
      },
      {
        "type": "textarea",
        "id": "youtube_details",
        "label": "Video Details"
      },
      {
        "type": "image_picker",
        "id": "right_poster",
        "label": "Video Poster"
      },
      {
        "type": "url",
        "id": "right_video",
        "label": "Video URL"
      },
      {
        "type": "textarea",
        "id": "right_details",
        "label": "Video Details"
      },
      {
        "type": "text",
        "id": "possibilities_heading",
        "label": "More Links Heading"
      },
      {
        "type": "url",
        "id": "charging_link",
        "label": "Charging Link"
      },
      {
        "type": "text",
        "id": "charging_button",
        "label": "Charging Button"
      },
      {
        "type": "url",
        "id": "powering_link",
        "label": "Powering Link"
      },
      {
        "type": "text",
        "id": "powering_button",
        "label": "Powering Button"
      }
    ]
  }
{% endschema %}
