<header
{% if section.settings.heading_bg %}
  style="background: {{ section.settings.heading_bg }}"
{% endif %}>
  <h2
  {% if section.settings.heading_color %}
    style="color: {{ section.settings.heading_color }}"
  {% endif %}>{{ section.settings.heading }}</h2>
</header>
<div class="container-fluid na-outlets">
  <div class="row">
    {% for block in section.blocks %}
      <div class="col-md-4 na-outlet"
      {% if block.settings.na_bg %}
        style="background: {{ block.settings.na_bg }}"
      {% endif %}>
        <h3>{{ block.settings.heading }}</h3>
        <img src="{{ block.settings.na_image | img_url: 'original' }}" />
        {{ block.settings.hubspot_links }}
        <a href="{{ block.settings.na_link }}" class="blk-btn">{{ block.settings.na_button_text }}</a>
        <p>{{ block.settings.content }}</p>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "North American Outlets",
    "settings": [
      {
        "type": "color",
        "id": "heading_bg",
        "label": "Heading Background Color"
      },
      {
        "type": "color",
        "id": "heading_color",
        "label": "Heading Color"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      }
    ],
    "blocks": [
      {
        "name": "North American Outlets",
        "type": "na_outlet",
        "settings": [
          {
            "type": "color",
            "id": "na_bg",
            "label": "Outlet Background Color"
          },
          {
            "type": "url",
            "id": "na_link",
            "label": "Outlet Link"
          },
          {
            "type": "text",
            "id": "na_button_text",
            "label": "Outlet Link Text"
          },
          {
            "type": "image_picker",
            "id": "na_image",
            "label": "Outlet Image"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Outlet Heading"
          },
          {
            "type": "textarea",
            "id": "hubspot_links",
            "label": "HubSpot Links"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Outlet Content"
          }
        ]
      }
    ]
  }
{% endschema %}
